<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.majeur.psclient">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning"
        android:theme="@style/Theme.PSClient.AppTheme"
        android:name=".PSClient">

        <activity
            android:name=".ui.MainActivity"
            android:windowSoftInputMode="adjustPan|stateUnchanged"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http" android:host="play.pokemonshowdown.com" />
                <data android:scheme="http" android:host="replay.pokemonshowdown.com" />
                <data android:scheme="http" android:host="pokepast.es" />
                <data android:scheme="https" android:host="play.pokemonshowdown.com" />
                <data android:scheme="https" android:host="replay.pokemonshowdown.com" />
                <data android:scheme="https" android:host="pokepast.es" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.teambuilder.TeamBuilderActivity"
            android:screenOrientation="userPortrait"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/Theme.PSClient.TeamBuilderActivityTheme"
            android:exported="false"/>

        <service
            android:name=".service.ShowdownService"
            android:exported="false"/>

    </application>

</manifest>